@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

body{
    --color-dark : #343a40;
    --color-light: #f5f3f4;
    --panelColor: #ffe66d;
    --active : #06d6a0;
    background-image: linear-gradient(to right top, #370531, #2e3f7e, #007bb9, #00b5ca, #12ebb2);
}

#site-main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;  
    align-content: center;
}

.text-dark{
    color: var(--color-dark);
}

.text-light{
    color: var(--color-light);
    padding-top: 2%;
}

#site-main .board{
    padding: 1em 0;
    border-radius: .2em;
    align-items: center;
    align-content: end;    
}

ul {
    list-style: none;
}

ul > li img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    
}

ul > li .flex{
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    text-align: left;
    background-color: var(--active);
    padding: .1em 2em;
    border-radius: 10px;
    box-shadow: 1px 10px 20px #858b9259;
}

button {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
  }
  
  button:hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
  }
  
  @keyframes dance6123 {
    to {
      background-position: var(--width);
    }
  }

  /* THis is the css for the pop up menu */
  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 5%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}